/**
 * CSS for the Like Button For Wordpress plugin
 *
 * Styles have been kept minimal to best accommodate differing theme implementations
 * Style naming follows BEM notation
 *
 * @package LBFW
 */

.u-icon--thumbs-o-up:before {
  content: "\f087";
  padding-right: 2px;
  font-size: 1.8rem;
}

.like-button-number {
  font-size: 2.1rem;
}

.like-button-count {
  color: #005ea5;
  background: none;
  padding:0;
  cursor: pointer;
  outline: inherit;
  border: none;
}

.like-button-count-clicked {
  color: grey;
}
